<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet"></link>
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>
<body class="text-center">
  <h1>login</h1>
  <form th:method="post" th:action="@{/login}" th:object="${loginForm}">
    <label class="has-error">user ID</label>
    <input type="text" th:field="*{userId}" />
    <br />
    <label>password</label>
    <input type="text" th:field="*{password}" />
    <br />
    <ul>
      <li th:each="error : ${#fields.detailedErrors()}">
        <span th:text="${error.message}">Error message</span>
      </li>
    </ul>
    <button class="btn btn-primary" type="submit">login</button>
  </form>
</body>
</html>