<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet"></link>
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>
<body class="text-center">
  <h1>login</h1>
  <form method="post" th:action="@{/login}">
    <label>ID</label>
    <input type="text" />
    <br />
    <label>password</label>
    <input type="text" />
    <br />
    <button class="btn btn-primary" type="button">login</button>
  </form>
</body>
</html>